<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>NeedMart- +91-6299856055 Largest Home Service Provider In Jamshedpur</title>
  <meta property="og:site_name" content="Need Mart Online Consumer Services">
  <meta property="og:url" content="index.html">
  <meta property="og:description" content="Need Mart is a trusted platform for maintenance &amp; repair services in Jamshedpur. Get verified plumbers, electricians, home cleaning &amp; more services with warranty">
  <meta name="description" content="Need Mart is a trusted platform for maintenance &amp; repair services in Jamshedpur. Get verified plumbers, electricians, home cleaning &amp; more services with warranty" />
  <meta name="keywords" content="handyman, Handyman services,Home maintenance,House cleaning,Repair,Cleaning services,Maintenance packages" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fragment" content="!">
  
  <meta name="theme-color" content="#3fb661">
  
  <meta name="msapplication-navbutton-color" content="#3fb661">
  
  <meta name="apple-mobile-web-app-status-bar-style" content="#3fb661">
  <script src="cdn-cgi/apps/head/hs1yXS4XC5-dKK84xFGQvpObmjE.js"></script><link rel="icon" type="image/png" href="../assets/images/favicon.png" sizes="32x32">
  <!-- <link rel="stylesheet" href="../assets/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="../assets/oldassset/assets/css/animate.min.css"> 
  <link rel="stylesheet" href="../assets/css/style.css"> -->
  <!-- <link rel="stylesheet" href="../assets/css/service-detail.css"> -->
  <!-- <script src="../ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
  <!-- <link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.2.2/tiny-slider.css"> -->
  <!-- <script src="../cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.2.2/min/tiny-slider.js"></script> -->
  <script type="application/ld+json">
              {  "@context" : "http://schema.org", 
                 "@type" : "Organization", 
                 "name" : "Need Mart Online Consumer Services Pvt. Ltd", 
                 "url" : "https://www.Need Mart.com/", 
                 "telephone" : "+91 8105826091", 
                 "logo" : "https://www.Need Mart.com/assets/images/Logo.png",
                 "contactPoint": [
            {
              "@type": "ContactPoint",
              "telephone": "+91 810-582-6091",
              "contactType": "customer care",
              "areaServed": [ "Jamshedpur" ]
            }
          ],
                 "sameAs" : [ "https://www.facebook.com/Need MartServices", 
                     "https://twitter.com/Need Martservices", 
                     "https://plus.google.com/+Need Mart2015/about",
                     "https://www.youtube.com/channel/UCJ_kxbxKOFO9w0I-PeJd6Ng",
                     "https://www.linkedin.com/company/Need Mart-online-consumer-services"]
              }
            </script>
  
  <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','../connect.facebook.net/en_US/fbevents.js');
  
      fbq('init', '1677966602440722');
      fbq('track', 'PageView');
      </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1677966602440722&ev=PageView&noscript=1" /></noscript>
  
  
    
    
    
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- <script>
      addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
      }, false);
  
      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script> -->
    <!-- Meta tag Keywords -->
  
    <!-- css files -->
    <!-- <link rel="stylesheet" href="../assets/css/styles.css" type="text/css" media="all" /> -->
    <!-- Style-CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
  
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  
  </head>