.top-box {
	display:none !important;
}
/*global style*/
.margin-top{
	margin-top:40px;
}
.top-title{
	font-size: 30px;
	line-height: 30px;
	color: #111111;
	font-weight: normal;
}
.top-description{
	font-size: 20px;
	line-height: 40px;
	font-weight: 300;
	color: #52636b;
}
/*container*/
.container-style{
	 padding-bottom: 30px
}
/*left side bar style*/
.left-side-body {
    width: 30%;
    min-height: 700px;
    display: block;
    float: left;
    position: relative;
}
.side-main-heading{
	font-weight: 600;
	font-size: 13pt;
	color: #333;
}
.side-main-heading a, .side-main-heading a:hover{
	
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #111111;
}
.side-sub-heading a{
	color: #52636b;
 	font-weight: normal;
 	font-size: 14px;
 	line-height: 20px;
}
.side-sub-heading a:hover{
	color: #3FB661;
	text-decoration: underline !important;
}
.side-sub-heading{
	color: grey;
	font-weight: 500;
	line-height: 17px;
	font-size: 10pt;
}
/*main body style*/
.main-body {
    width: 67%;
    
    display: inline-block;
    float: right;
   position: relative;
   top: 0;
}

.block-main-heading{
	margin-top: 80px;
	padding: 1.8%;
	color: #333;
}
.block-main-heading h1{
	margin:0;
    
}
.main-sub-heading{
	color: grey;
	font-weight: normal;
	line-height: 24px;
	font-size: 14px;
	color: #111111;
	text-align: justify;
}
.main-body-heading{
	padding: 0 0 15px ;
	border-bottom:1px solid #333;
	font-size: 23px;
	line-height: 30px;
	font-weight: 600;
	width: 98%;
	color: #111111;
	display: inline-block;		
}

.main-body h4{
	font-weight: 600;
	font-size: 18px;
	margin-top: 15px;
	line-height: 24px;
	color: #111111;
}
.main-body h4:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #3bb34a;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
/*back to top style*/
.back-top{
	font-size: 14px;
	line-height: 21px;
	color: #3FB661;
	float: right;
	margin-top: 10px;
	font-weight: normal;
}
.back-top:hover{
	text-decoration: underline !important;
}
/*contact us section style*/
.contact-us-section{
	background: #f9f9f9;
	padding: 2% 10%;
}
.white-box{
padding: 2.5% 5% 2.5% 15%;
background: #fff;
border-radius: 8px;
}
.contact-us-btn{
	background: #111;
	color: #fff;
	padding: 1.3% 7%;
	font-size: 16px;
	border-radius: 5px;
	line-height: 21px;
	font-weight: bold;
	margin-left: 15px;
}
.contact-us-btn:hover{
	color: #fff;
	background: #333;
}
.contact-text1{
	font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #333;
}
.contact-text2{
	font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #53636b;
    margin-left: 10px;
}


/*media queries*/
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
.container-style{
	margin-top: 0;
}
.left-side-body {
    width: 100%;
    min-height: auto;
}
.main-body h4{
	font-size: 16px;
}
.main-body {
    width: 100% !important;
    padding:  2px;
    margin:0;

}
.top-description{
	font-size: 16px;
	line-height: 28px;
}
.block-main-heading{
	margin-top: 80px !important;
}
.block-main-heading h1{
	font-size: 15pt;
	font-weight: 600;
}
.main-body-heading{
	font-size: 17px;
	font-weight: 600;
}
.back-top{
	margin-top: 3px;
}
.contact-text1{	
    width: 100%;
    display: block;
}

.white-box{
	padding: 3% 5%;
	text-align: center;
}
.contact-text2 {
    font-size: 14px;
    width: 100%;
    margin-left: 0px;
    display: block;
}
.contact-us-section{
	padding: 3% 5%;
}
.side-sub-heading a{
	font-size: 14px;
    line-height: 21px;
}
.contact-us-btn {
    width: 50%;
    margin:0 auto;
    display: block;
    font-size: 12px;
    border-radius: 40px;
    margin-top:10px;
   
}
}

