<!DOCTYPE html>
  <html>
  
  
  <body>
  
  <header id="header" class="header" style="background-color: #0009;">
  <div class="container-fluid text-center top-box">
  Check out NeedMart Maintenance Package and save 20%
  <a href="#"><span>Learn More</span></a>
  <span id="closeButton"><img src="../assets/images/cross.svg" height="18px"></span>
  </div>
  <div class="container menu-top-padding">
  <a class="navbar-brand animate " href="index.html"><img src="../assets/images/Logo.png" height="52px" alt="NeedMart Logo"></a>
  <div id="menu-icon" onclick="sidebarDisplay();">
  <div class=" icon-menu-hamburguer" sidebarjs-toggle="rightSidebarName"></div>
  </div>
  <nav id="menu-main">
  <ul class="nav navbar-nav navbar-right ">
  <li class="drop">
  <div class="dropdown">
  
  </div>
  </li>
  <li><a href="index.html" style="color: white;">Home</a></li>
                        <li><a href="about.html" style="color: white;">About Us</a></li>
                                    <li><a href="faq.html" style="color: white;">Support</a></li>
                                    <li><a href="contact.html" style="color: white;">Contact</a></li>
                            <li><a target="_blank" href="partner.html" style="color: white;">Become  a Partner</a></li>
  
  <li class=""><a class="animate" href="javascript:void(0)" onclick="modaljs('#modallogin', true)" style="color: white;">LogIn/SignUp</a></li>
  <li ><a class="animate cursor-nodrop" style="color:wheat"><span class="glyphicon glyphicon-earphone " ></span><span style="color: white;"> +91-6299856055</span></a></li>
  </ul>
  </nav>
  </div>
  
  </header>
  <div sidebarjs="rightSidebarName" id="idmobilesidebar">
  <nav class="mobile-side-bar">
  <ul>
  <li class="lbb"><a class="animate" href="Need Mart-maintenance-cover.html"><img src="../assets/images/discount.svg" height="20"> Needmart Service In Jamshedpur </a></li>
  
  <li class="lbb"><a class="animate" href="javascript:void(0)" onclick="modaljs('#modallogin', true)"><img src="../assets/images/login2.svg" height="20"> LogIn/SignUp</a></li>
  <li class="lbb"><a class="animate" href="index.html"><img src="../assets/images/contact.svg" height="20"> Home</a></li>
  <li class="lbb"><a class="animate" href="about.html"><img src="../assets/images/about-us.svg" height="20"> About Us</a></li>
  <li class="lbb"><a class="animate" href="faq.html"><img src="../assets/images/about-us.svg" height="20"> Support</a></li>
  <li class="lbb"><a class="animate" href="contact.html"><img src="../assets/images/contact.svg" height="20"> Contact</a></li>
  <li class="lbb"><a class="animate" href="partner.html"><img src="../assets/images/about-us.svg" height="20"> Become  a Partner</a></li>
  <li class="lbb"><a class="animate" href="tel:6299856055"><span class="glyphicon glyphicon-earphone"></span> +91-6299856055</a></li>
  </ul>
  </nav>
  </div>
  
  <div id="modallogin" class="modaljs">
  <div class="login-box">
  <div class="lb-header  padding-0">
  <a class="navbar-brand animate " href="index.html"><img alt="Need Mart Logo" src="../assets/images/Logo.png" height="36px"></a>
  </div>
  <div class="col-md-12 text-center modal-form-heading">
  <strong>Let's get started</strong>
  </div>
  <div class="col-md-12">
  <form class="login-form">
  <div id="login_modal_login">
  <div class="u-form-group col-md-12">
  <input type="text" style="margin-bottom: 20px;" id="login_mobile" name="mobile" placeholder="Phone Number" />
  <span class="errMsg"></span>
  </div>
  <div class="col-md-12 resend-otp-box" hidden="">
  <p><a class="green-color">Resend OTP</a></p>
  <p><a class="green-color">Try a different Phone Number</a></p>
  </div>
  <div style="margin-bottom: 20px;" class="u-form-group col-md-12">
  <button onclick="resendotp(); return false;">Login with OTP</button>
  </div>
  <div id="login_social" style="margin-bottom: 20px;">
  <div class="col-md-12" style="margin-bottom: 10px;margin-top:10px"><div class="or-text-line"><span>or</span></div></div>
  <div class="social-login col-md-12">
  <a href="#" onclick="facebookLogin()">
  <i class="fa fa-facebook fa-lg"></i>
  Login with facebook
  </a>
  </div>
  </div>
  </div>
  <div id="login_modal_otp">
  <div class="u-form-group col-md-12">
  <input type="text" id="login_otp" name="otp" placeholder="OTP" />
  <span class="errMsg"></span>
  </div>
  <div class="col-md-12 resend-otp-box">
  <p><a class="green-color" onclick="resendotp(); return false;">Resend OTP</a></p>
  <p><a class="green-color" onclick="changeMobile(); return false;">Try a different Phone Number</a></p>
  </div>
  <div class="u-form-group col-md-12">
  <button onclick="verifyOTP(); return false;">Verify OTP</button>
  </div>
  </div>
  <div id="login_modal_signup">
  <div class="u-form-group col-md-12">
  <input type="text" id="signup_name" name="name" placeholder="Name" />
  <span class="errMsg"></span>
  </div>
  <div class="u-form-group col-md-12">
  <input type="email" id="signup_email" name="email" placeholder="Email" />
  <span class="errMsg"></span>
  </div>
  <div class="u-form-group col-md-12">
  <input type="text" id="signup_mobile" placeholder="Phone Number" />
  </div>
  <div class="u-form-group col-md-12">
  <button onclick="signup(); return false;">SIGN UP FOR FREE</button>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  <!-- <link rel="stylesheet" href="../assets/css/testimonial.css">
  <link rel="stylesheet" href="../assets/css/gmc.css"> -->
  <script src="../assets/js/flickity.min.js"></script>
  
  <div class="hero-section" >
  <div class="container-fluid gradient-back ">
  <div class="container-full banner-box contain-box">
  <div class="col-md-0 col-sm-12 col-xs-12 contain-box " style="display:none">
  <div class="header-content-inner col-md-12 col-sm-12 col-xs-12  text-left">
  <h1 class="bold-heading">Home maintenance was <span class="green-color">never so easy</span></h1>
  <p>Find verified & skilled professionals in Jamshedpur</p>
  <form class="search-form">
  <div class="col-md-8 col-sm-8 search-box">
  <input type="text" placeholder="Start your search here! Eg: Plumber, Electrician etc." id="autocomplete" required class="search">
  <img class="search-box-img" src="../assets/images/home-page/search.svg" height="26px"><div id="autocomplete_result"></div>
  </div>
  </form>
  </div>
  </div>
  <div class="col-md-12" style="background-image:url(../assets/images/2.jpg)" >
  <div class="sub-main-w3" >
  
    <h1>
    
      <span>H</span>ome Service
      <span>P</span>rovider In<br>
      <span>J</span>amshedpur
    </h1>
  
  
      <form class="login" action="#" method="post">
        <p class="legend">Search Here<span class="fa fa-hand-o-down"></span></p>
        <div class="input">
          <i class="icon-layers"></i>
  <input type="text" placeholder="Ex: Beauty Spa, Electrician, Plumber, " name="text" required />
        <span class="fa fa-search"></span>
        </div>
        <div class="input">
          <input type="Search" placeholder="Search for service" name="search" required style="background:#f9b42b" />
          <span class="fab fa-servicestack"></span>
        </div>
        <button type="submit" class="submit">
          <span class="fa fa-sign-in"></span>
        </button>
      </form>
    </div>
  
  </div>
  
  <section class="services" style=" background: linear-gradient(rgb(255, 255, 255),#fcfcfcb3, rgb(255, 255, 255)), url('../assets/images/service.jpg') no-repeat 50% 50%;">
  
  <div class="container text-center">
  <h2 class="home-h2">Explore Our Services in Jamshedpur
  <div class="section-header-underline"></div>
  </h2>
  
  <div class="row margin-top-40">
  <div class="servc-container-box text-center">
  <div class="col-md-2  width-20-top">
  <a href="#" class="back1 demo">
  <div id="card-1" class=" cards2 text-center">
  <div class="card-image">
  <div> <img src="../assets/images/home-page/1.png"></div>
  
  </div>
  <p>Fix & Repairs</p>
  <span>Electrician, Repair, Plumbing</span>
  </div></a>
  </div>
  <div class="col-md-2  width-20-top">
  <a href="Jamshedpur/electrician.html" class="back1 demo">
  <div id="card-2" class=" cards2 text-center">
  <div class="card-image">
  <div> <img src="../assets/images/home-page/2.png"></div>
  
  </div>
  <p>Appliances & Repair</p>
  <span>Washing Machine, Water Purifier</span>
  </div></a>
  </div>
  <div class="col-md-2  width-20-top">
  <a href="Jamshedpur/carpenter.html" class="back1 demo">
  <div id="card-3" class=" cards2 text-center">
  <div class="card-image">
  <div> <img src="../assets/images/home-page/3.png"></div>
  </div>
  <p>Beauty & Spa</p>
  <span>Salon At Home, Mehandi</span>
  </div></a>
  </div>
  <div class="col-md-2  width-20-top">
  <a href="Jamshedpur/mason.html" class="back1 demo">
  <div id="card-4" class=" cards2 text-center">
  <div class="card-image">
  <div> <img src="../assets/images/home-page/4.png"></div>
  
  </div>
  <p>Grocery</p>
  <span>Fruits & Vegetables, Baby Kids</span>
  </div></a>
  </div>
  <div class="col-md-2  width-20-top">
  <a href="Jamshedpur/plumber.html" class="back1 demo"><div id="card-8" class=" cards2 text-center">
  <div class="card-image">
  <div> <img src="../assets/images/home-page/5.png"></div>
  
  </div>
  <p>Wedding & Events</p>
  <span>Bridal Makeup,Mehandi</span>
  </div></a>
  </div>
  <div class="col-md-2 width-20 margin-top-30">
  <a href="Jamshedpur/pest-control.html" class="back1 demo"><div id="card-6" class=" cards2 text-center">
  <div class="card-image">
  <div> <img src="../assets/images/home-page/8.png"></div>
  
  </div>
  <p>IT Services</p>
  <span>Web Designing, Bulk SMS</span>
  </div></a>
   </div>
  <div class="col-md-2 width-20 margin-top-30">
  <a href="Jamshedpur/painting.html" class="back1 demo"><div id="card-7" class=" cards2 text-center">
  <div class="card-image">
  <div> <img src="../assets/images/home-page/6.png"></div>
  
  </div>
  <p>Business/Documentation</p>
  <span>Private DL, Car Rental</span>
  </div></a>
  </div>
  <div class="col-md-2 width-20 margin-top-30">
  <a href="Jamshedpur/house-cleaning.html" class="back1 demo"><div id="card-5" class=" cards2 text-center">
  <div class="card-image">
  <div> <img src="../assets/images/home-page/7.png"></div>
  
  </div>
  <p>Recomended Services</p>
  <span>Medicine, Lab Test</span>
  </div></a>
  </div>
  <!-----<div class="col-md-2 width-20 margin-top-30">
  <a href="Jamshedpur/appliance-repair.html" class="back1 demo"><div id="card-9" class=" cards2 text-center">
  <div class="card-image">
  <div id="img"></div>
  <div id="img2"></div>
  </div>
  <p>APPLIANCE REPAIR</p>
  <span>Washing Machine, Refrigerator, Microwave</span>
  </div></a>
  </div>
  <div class="col-md-2 width-20 margin-top-30">
  <a href="Jamshedpur/sofa-cleaning.html" class="back1 demo"><div id="card-10" class=" cards2 text-center">
  <div class="card-image">
  <div id="img"></div>
  <div id="img2"></div>
  </div>
  <p>SOFA CLEANING</p>
  <span>Shampooing, Vacuuming, Steaming</span>
  </div></a>
  </div>
  <div class="col-md-2 width-20 margin-top-30">
  <a href="Jamshedpur/tiles-flooring.html" class="back1 demo"><div id="card-11" class=" cards2 text-center">
  <div class="card-image">
  <div id="img"></div>
  <div id="img2"></div>
  </div>
  <p>TILES & FLOORING</p>
  <span>Wooden flooring, Wall/ Vitrified tiles</span>
  </div></a>
  </div>---->
  </div>
  </div>
  </div>
  </section>
  
  <style>
  
  .my_work {
      width: 200px !important;
      height: 200px !important;
      border-radius: 100%;
      border: 9px solid #f9b42b;
    }
    </style>
  <section class="how-work" style="background: linear-gradient(rgb(111, 191, 23), #86c22780, rgb(111, 191, 23)) no-repeat 50% 50%;">
  <div class="container-1 text-center">
  <h2 class="home-h2">How We Work
  <div class="section-header-underline"></div>
  </h2>
  <div class="row margin-top-40">
  <div class="customize-tools">
  <ul class="thumbnails  ul-border col-md-12 col-sm-12 submenu-toggle home-slider-nav">
  <li class="col-md-4 ul-list col-sm-12">
  <div class="cards">
  <div class="cards-padding">
  <img class="cards-img  my_work" alt="Verified professionals"   id="first1" src="../assets/images/home-page/how-work-2.jpg" >
  <p>Choose the best-suited Service </p>
  <span class="card-p">We Provide set of services for one-stop Solution.</span>
  </div>
  </div>
  </li>
  <li class="col-md-4 col-sm-12">
  <div class="cards">
  <div class="cards-padding">
  <img class="cards-img my_work"   src="../assets/images/home-page/how-work-1.jpg" >
  <p>Book An Appointment </p>
  <span class="card-p">Certified Taskers comes over and done your task </span>
  </div>
  </div>
  </li>
  <li class="col-md-4 col-sm-12">
  <div class="cards">
  <div class="cards-padding">
  <img class="cards-img my_work"  alt="Quick Resolution" src="../assets/images/home-page/how-work-3.jpg" >
  <p>Get Resolved <br>for all services</p>
  <span class="card-p">your task is completed to your satisfaction - guranteed</span>
  </div>
  </div>
  </li>
  <li>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </section>
  
  <section class="testimonial-section">
  <div class="container">
  <div class="row">
  
  
  <h2 class="home-h2">What people are saying about us.
  <div class="section-header-underline"></div>
  </h2>
  </div>
  <div class="margin-top-40">
  <div class="carousel" data-flickity='{ "groupCells": true, "contain": true , "autoPlay": true }'>
  <div class="carousel-cell col-md-4 col-sm-12">
  <div class="testimonial ">
  <div class="pic">
  <img alt="Icon" class="img-responsive" src="../assets/images/reviews/home-page/disha-oberoi.jpg" alt="">
  </div>
  <h5 class="testimonial-service">Amrita Oberoi</h5>
  <h3 class="testimonial-title">Good Service</h3>
  <div class="col-md-12 stars">
  <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
  <blockquote> <p class="description">
  It is the best stage for working together. Get need on Google seek by means of Need Mart posting.
  </p></blockquote>
  </div>
  </div>
  <div class="carousel-cell col-md-4 col-sm-12">
  <div class="testimonial ">
  <div class="pic">
  <img alt="Icon" src="../assets/images/reviews/home-page/arvind_senthil.jpg" alt="">
  </div>
  <h5 class="testimonial-service">Sonu Kumar</h5>
  <h3 class="testimonial-title">Easy to use interface</h3>
  <div class="col-md-12 stars">
  <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
  <blockquote>
  <p class="description">
  It was valuable for me as new business I made more than I pay to them.
  </p>
  </blockquote>
  </div> </div>
  <div class="carousel-cell col-md-4 col-sm-12">
  <div class="testimonial ">
  <div class="pic">
  <img alt="Icon" src="../assets/images/reviews/home-page/ravi-kumar.jpg" alt="">
  </div>
  <h5 class="testimonial-service">Ravi kumar</h5>
  <h3 class="testimonial-title">Affordable packages</h3>
  <div class="col-md-12 stars">
  <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
  <blockquote>
  <p class="description">
  So far this has been the most accommodating application to me. It completed my work.
  </p>
  </blockquote>
  </div> </div>
  <div class="carousel-cell col-md-4 col-sm-12">
  <div class="testimonial ">
  <div class="pic">
  <img alt="Icon" src="../assets/images/reviews/home-page/samvedna.jpg" alt="">
  </div>
  <h5 class="testimonial-service">Nigar Khan</h5>
  <h3 class="testimonial-title">Great Experience</h3>
  <div class="col-md-12 stars">
  <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
  <blockquote>
  <p class="description">
  The entire team was very professional, courteous and hardworking. People arrived on time. Highly recommended services!!
  </p>
  </blockquote>
  </div> </div>
  <div class="carousel-cell col-md-4 col-sm-12">
  <div class="testimonial ">
  <div class="pic">
  <img alt="Icon" src="../assets/images/reviews/home-page/rakesh-pande.png" alt="">
  </div>
  <h5 class="testimonial-service">Vaibhav Mittal</h5>
  <h3 class="testimonial-title">Satisfied Service</h3>
  <div class="col-md-12 stars">
  <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
  <blockquote>
  <p class="description">
  I trust they will keep on giving such administrations in future likewise and isn't constrained for newcomers.
  </p>
  </blockquote>
  </div> </div>
  <div class="carousel-cell col-md-4 col-sm-12"> <div class="testimonial">
  <div class="pic">
  <img alt="Icon" src="../assets/images/reviews/home-page/spandan-das.jpg" alt="">
  </div>
  <h5 class="testimonial-service">Abhay Das</h5>
  <h3 class="testimonial-title">Quick response </h3>
  <div class="col-md-12 stars">
  <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></div>
  <blockquote>
  <p class="description">
   It's really useful. Didn't expect such an extensive amount straightforwardness.
  </p>
  </blockquote>
  </div> </div>
  </div>
  </div>
  </div>
  
  </section>
  
  <div class="know_section">
  <div class="container-fluid">
  <div style="display:flex" class="row">
  <div style="align-self: flex-end;" class="hidden-xs col-sm-5 col-md-5 margin-top-50">
  <div class="know_image">
  
  <img src="../assets/images/home-page/girl.png"  alt="know" />
  </div>
  </div>
  <div class="hidden-xs col-sm-1 col-md-1"></div>
  <div class="col-xs-12 col-sm-6 col-md-6">
  <div class="get_quote-1" style="">
  <div class="know_text">
  <div class="know_text_head">
  <h2 class="home-h2-1">Focus on your business while <br> We maintains your property</h2>
  </div>
  <div class="know_text_subhead">
  <p>We provide the all services to the people of Jamshedpur <br> Unique subscription offerings</p>
  </div>
  </div>
  <div class="know_buttons row">
  <div class="col-xs-12 col-sm-4 col-md-4">
  <button onclick="fadeinout()" class="dark-btn-lg animate bounce quote-btn">Get a quote</button>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
  </div>
  
  </div>
  </div>
  <div class="get_quote-2" id="get_quote-2" style="display:none;margin-bottom:20px">
  <div class="form-box love-to-hear">
  <div class="form-legend">
  <p>Please enter your details</p>
  </div>
  <form class="submitpackageform" id="submitpackageform">
  <div id="login_modal_login-1" class="login_modal_login-1">
  <div style="padding-left:0px" class="u-form-group col-md-12">
  <label for="package_type">Property type * :</label>
  <select class="package_type" value="" id="package_type" name="type">
  <option value="">Select property</option>
  <option value="Interior_Designer">Interior Designer</option>
  <option value="Property_Management">Property Management</option>
  <option value="Hospitality">Hospitality</option>
  <option value="Service_Apartments">Service Apartments</option>
  <option value="Retail">Retail</option>
  <option value="Others">Others</option>
  </select>
  <span class="errMsg"></span>
  </div>
  <br>
  <div style="padding-left:0px" class="u-form-group col-md-12">
  <label for="package_name">Name * :</label>
  <input type="text" id="package_name" name="name" placeholder="">
  <span class="errMsg"></span>
  </div>
  <div style="padding-left:0px" class="u-form-group col-md-12">
  <label for="package_email">Email * :</label>
  <input type="email" id="package_email" name="email" placeholder="">
  <span class="errMsg"></span>
  </div>
  <div style="padding-left:0px" class="u-form-group col-md-12">
  <label for="package_mobile">Mobile Number * :</label>
  <input type="text" id="package_mobile" name="mobile" placeholder="">
  <span class="errMsg"></span>
  </div>
  <div style="margin-top: 15px;margin-bottom: 7px;padding:0px 60px" class="u-form-group col-md-12">
  <button onclick="resendotp1(); return false;">NEXT</button>
  </div>
  </div>
  </form>
  </div>
  </div>
  <div id="get_otp" style="display:none;height: 387px;margin-bottom:20px" class="get_otp">
  <div class="form-box love-to-hear">
  <div style="text-align:center" class="form-legend">
  <p>Please enter the OTP</p>
  </div>
  <div style="margin: 60px 0px 20px 0px;" class="u-form-group col-md-12">
  <input type="text" id="login_otp-1" name="otp" placeholder="OTP">
  <span class="errMsg"></span>
  </div>
  <div style="margin: 20px 0px;text-align:center" class="col-md-12 resend-otp-box">
  <p><a class="green-color" href="index.html">Reset Form</a></p>
  </div>
  <div style="margin: 80px 0px;padding:0px 60px" class="u-form-group col-md-12">
  <button onclick="verifyotp1(); return false;">SUBMIT YOUR REQUEST</button>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  
  
  <section class="gmc-additional-benefit">
  
  <h2 class="home-h2">Additional Benefits
  <div class="section-header-underline"></div>
  </h2>
  <div class="container margin-top-20">
  <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
  <div class="col-md-12 col-sm-12  col-xs-12 padding-0">
  <table class="table  gmc-table">
  <thead>
  <th width="60%"></th>
  <th width="20%" class="text-center">Other local service providers</th>
  <th class="green text-center th-greenbox" width="20%">Need Mart subscription packages</th>
  </thead>
  <tbody>
  <tr>
  <td class="border-right-left-grey">Background verified Professionals</td>
  <td class="text-center">No</td>
  <td class="green border-right-left-green">Yes</td>
  </tr>
  <tr>
  <td class="border-right-left-grey">Skill Level</td>
  <td class="text-center">Not Verified</td>
  <td class="green border-right-left-green">High</td>
  </tr>
  <tr>
  <td class="border-right-left-grey">Dedicated experts team</td>
  <td class=" text-center">Yes</td>
  <td class="green border-right-left-green">Yes</td>
  </tr>
  <tr>
  <td style="padding-top: 25px !important;" class="border-right-left-grey">Free revisit, if issue reoccurs</td>
  <td style="padding-top: 25px !important;" class="text-center">No</td>
  <td class="green border-right-left-green">Complete cover for the year</td>
  </tr>
  <tr>
  <td class="border-right-left-grey">Detailed property inspection & audit report</td>
  <td class="text-center">No</td>
  <td class="green border-right-left-green">Yes</td>
  </tr>
  <tr>
  <td class="border-right-left-grey">Periodic maintenance reminders</td>
  <td class="text-center">No</td>
  <td class="green border-right-left-green">Yes</td>
  </tr>
  <tr>
  <td class="border-right-left-grey">Digitally recorded data for all properties</td>
  <td class="text-center">No</td>
  <td class="green border-right-left-green">Yes</td>
  </tr>
  <tr>
  <td class="border-right-left-grey">Real-time lead & project tracking</td>
  <td class="text-center">No</td>
  <td class="green border-right-left-green">Yes</td>
  </tr>
  <tr>
  <td class="border-right-left-grey">Standardized experience across all properties</td>
  <td class="text-center">No</td>
  <td class="green border-right-left-green">Yes</td>
  </tr>
  <tr>
  <td class="border-right-left-grey">Increased Customer Satisfaction</td>
  <td class="text-center">Yes</td>
  <td class="green border-right-left-green">Yes</td>
  </tr>
  <tr>
  <td class="border-right-left-grey border-bottom-grey border-radius-table2">Opportunity to accelerate business scale</td>
  <td class="text-center border-bottom-grey">Low</td>
  <td class="green border-right-left-green border-radius-table3">High</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  <section class="g-news-section">
  <div class="container">
  <div class="col-xs-12 col-md-2 col-sm-12 news-img">
  <img alt="Icon" src="../assets/images/news/1.png" class="img-responsive" style="    background: red;
      border: 2px solid #6fbf17;">
  </div>
  <div class="col-xs-12 col-md-2 col-sm-12 news-img">
  <img alt="Icon" src="../assets/images/news/1.png" class="img-responsive" style="    background: red;
      border: 2px solid #6fbf17;">
  </div>
  <div class="col-xs-12 col-md-2 col-sm-12 news-img">
  <img alt="Icon" src="../assets/images/news/1.png" class="img-responsive" style="    background: red;
      border: 2px solid #6fbf17;">
  </div>
  <div class="col-xs-12 col-md-2 col-sm-12 news-img">
  <img alt="Icon" src="../assets/images/news/1.png" class="img-responsive" style="    background: red;
      border: 2px solid #6fbf17;">
  </div>
  <div class="col-xs-12 col-md-2 col-sm-12 news-img">
  <img alt="Icon" src="../assets/images/news/1.png" class="img-responsive" style="    background: red;
      border: 2px solid #6fbf17;">
  </div>
  </div>
  </section> 
  <section class="g-news-section" hidden="">
  <div class="container text-center">
  <div class="white-box"><b>Want to be part of Need Mart?</b> Join thousands of other professionals.
  <a class="join-us">JOIN US
  </a>
  </div>
  </div>
  </section>
  </div>
  </div>
  </div>
  <script src="../assets/js/index.js"></script>
  <script src="../assets/js/script.min.js"></script>
  <script>
  if (screen && screen.width < 480) {
    document.write('<script type="text/javascript" src="../assets/js/home-mob.js"><\/script>');
  }
  </script>
  <footer style="background-color:black;color:white">
  <div class="container">
  <div class="row padding-10 footer-main-container">
  <div class="col-md-5 col-sm-6 footerleft ">
  <div class="logofooter"><img alt="Need Mart Logo" src="../assets/images/Logo.png" height="70px"></div>
  <p>Need Mart is a one-stop solution that caters to all your maintenance service requirements. Currently based out of Jamshedpur it covers an array of services ranging from plumbers, electricians, carpenters, AC repair & maintenance, house cleaning, pest control, appliance repair, civil work, tiling & flooring work among others. Need Mart’s intelligent algorithm mapping helps you connect with the best suited service professional.
  </p>
  </div>
  <div class="footer-right">
  <div class="col-md-3 col-sm-6 paddingtop-bottom servc-footr">
  <h6 >SERVICES</h6>
  <ul class="footer-ul">
   <li  > <a href="#">Fix & Repairs</a></li>
                   <li > <a href="#">Appliances & Repair</a></li>
                   <li > <a href="#">Beauty & Spa</a></li>
                   <li > <a href="#">Grocery</a></li>  
  
                   <li  > <a href="#">Wedding & Events</a></li>
                   <li > <a href="#">It Services</a></li>
                   <li  > <a href="#">Business/Documentation</a></li>
  
  
  </ul>
  </div>
  <div class="col-md-2 col-sm-6 paddingtop-bottom side-padding">
  <h6 >COMPANY</h6>
  <ul class="footer-ul">
  <li><a href="about-us.html">About Us</a></li>
  <li><a href="partner-with-us.html">Partner with us</a></li>
  <li><a href="feedback.html">Feedback</a></li>
  <li><a href="faqs.html">FAQs</a></li>
  <li><a href="contact-us.html">Contact us</a></li>
  <li><a href="terms-conditions.html">Terms and conditions</a></li>
  <li> <a href="privacy-policy.html">Privacy Policy</a> </li>
  
   
  
  </ul>
  </div>
  <div class="col-md-2 col-sm-6 paddingtop-bottom gmc-ftr">
  <h6>Reach Us</h6>
  <ul class="footer-ul">
  
                          <li style="font-size: 12px;">	<i class="fa fa-map-marker"></i>
                            Mango, Jamshedpur
                          </li>
                          <li>
                            <img src="../assets/images/1.png" alt="image description">
                          <a href="tel:6299856055">+91 6299856055</a>
                          </li>
                          <li>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:info@needmart.com">info@needmart.in</a>
                          </li>
                     <li>
                            <i class="fa fa-whatsapp"></i>
                            <a href="https://api.whatsapp.com/send?phone=916299856055"target="_blank">Ping us on WhatsApp</a>
                          </li>
                          </ul>
                          
  
  <ul class="social">
  <li><a href="#" target="_blank"><img alt="fb" src="../assets/images/social/facebook-letter-logo.svg" height="12"> </a></li>
  <li><a href="#" target="_blank"><img alt="linkedin" src="../assets/images/social/linkedin-logo.svg" height="12"></a></li>
  <li><a href="#" target="_blank"><img alt="g+" src="../assets/images/social/google-plus.svg" height="12"></a></li>
  <li><a href="#" target="_blank"><img alt="twitter" src="../assets/images/social/twitter.svg" height="12"></a></li>
  </ul>
  <br>
  <div>
  <h6 class="heading7 vis-hid">Need Mart MAINTENANCE COVER PACKAGES</h6>
  </div>
  </div>
  </div>
  </div>
  </div>
  </footer>
  
  <div class="copyright">
  <div class="container">
  <div class="col-md-4 col-sm-12 col-xs-12 copyright-box">
  <p class="copyright_text">Copyright &copy; 2019 NEEDMART. All rights reserved. Designed & Powerd by  : <a class="needserv" href="https://quarkstech.in/" target="_blank">Quarks Tech Infosoft</a></p>
  </div>
  </div>
  </div>
  <script src="../cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="../cdnjs.cloudflare.com/ajax/libs/js-cookie/latest/js.cookie.min.js"></script>
  <script type="text/javascript" src="../assets/js/sidebarjs.min.js"></script>
  <script src="../assets/js/header-on-scroll.js"></script>
  <script src="../assets/backend_js/common.js"></script>
  <script src="../assets/backend_js/login.js"></script>
  
  <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','../connect.facebook.net/en_US/fbevents.js');
      fbq('init', '147074622389670');
      fbq('track', 'CompleteRegistration');</script>
  <noscript><img height="1" width="1" style=" display:none"
      src="https://www.facebook.com/tr?id=147074622389670&ev=PageView&noscript=1"
      /></noscript>
  
  
  <script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-946770321/1YkeCMPJtnkQkaO6wwM',
        'event_callback': callback
    });
    return false;
  }
  </script>
  
  
  <script>
      window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = 'nu8qc';
      js.src = "../platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
  
      t._e = [];
      t.ready = function(f) {
      t._e.push(f);
      };
  
      return t;
      }(document, "script", "twitter-wjs"));
      
      window.$zopim || (function(d, s) {
                  var z = $zopim = function(c) {
                      z._.push(c)
                  }
                    , $ = z.s =
                  d.createElement(s)
                    , e = d.getElementsByTagName(s)[0];
                  z.set = function(o) {
                      z.set.
                      _.push(o)
                  }
                  ;
                  z._ = [];
                  z.set._ = [];
                  $.async = !0;
                  $.setAttribute("charset", "utf-8");
                  $.src = "http://v2.zopim.com/?39VnwYVeF0RVuG6QuFuR1dtQVtV3t9iH";
                  z.t = +new Date;
                  $.
                  type = "text/javascript";
                  e.parentNode.insertBefore($, e)
              })(document, "script");
  </script>
  </body>
  
  
  </html> 
